<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
<%=make_friend_request%>
<%=pending_friends_header%>
<%=pending_friends %>
<%=friend_requests_header%>
<%=friend_requests%>