<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
<div class="frequest"><%=make_friend_request%></div>
<%=pending_friends_header%>
<%=pending_friends %>
<%=friend_requests_header%>
<div class="friend_requests_table">
  <div class="friend_requests"><%=friend_requests%></div>
  <div class="approve_requests"><%=approve_requests%></div>
  <div><%=delete_requests%></div>
</div>